*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;

}

html,body {
    height: 100%;
    width: 100%;
}

.white-bg {
    height: 100%;
    width: 100%;
    background-color: white;


}

.nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.nav-part-1 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav h1 {
    font-size: 17px;
    border: 1.5px solid #000;
     padding: 5px 10px;
     border-radius: 50px;


}

.nav i {
    font-size: 16px;
    border: 1.5px solid #000;
     padding: 5px 8px;
     border-radius: 50px;
}
.nav h2 {
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}
.nav button {
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
    font-weight: 600;
    background-color: white;

}
.btn-2 {
    background-color: orangered !important;
    color: white;
    border: none;
}
.white-bg>h1{
    font-size:100px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}

img {
    height: 350px;
    width: 300px;
    object-fit: cover;
    position:absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%,-50%);

}
#img-1 {
    transform: translate(-50%,-50%) rotate(-30deg);

}
#img-2 {
    transform: translate(-50%,-50%) rotate(-20deg);

}
#img-3{
    transform: translate(-50%,-50%) rotate(-10deg);

}
.bottom {
    position:absolute;
    bottom: 10%;
    left: 4%;
    font-size: 17px;
}

